.home-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}

#input {
  width: 60%;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
  border: 2px solid whitesmoke;
  border-radius: 10px;
  color: white;
  padding: 8px;
}

#btn {
  height: 40px;
  width: 20%;
  background: green;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  padding: 0 20px;
}

#text-input {
  width: 100%;
  height: 600px;
  background-color: rgba(0,0,0,0.4);
  border: 2px solid whitesmoke;
  border-radius: 10px;
  color: white;
  padding: 10px;
  overflow: scroll;
  resize: none;
}
