.Navbar{
  height:auto;
  width:100%;
  display: flex;
  justify-content: center;
  list-style: none;
    
}
.nav-link {
  padding: 8px 12px;
  text-decoration: none;
  color:white;
  font-weight: 900;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link.active {
  color: #007bff;
}
#nav{
  font-size: larger;
}
