.app{
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
}
.home{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.paste{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.viewpastes{
  width: 100%;
}